.section {
  width: min(calc(100% - 2 * var(--layout-gutter)), var(--layout-max-width));
  margin-inline: auto;
  padding-block: var(--layout-section-space);
  border-top: var(--border-thin) solid var(--color-border);
}
